<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.imates.appwidget1" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:icon="@drawable/tom"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver android:name="MainActivity">

            <intent-filter>
                <action android:name= "android.appwidget.action.APPWIDGET_UPDATE"/>
                <meta-data android:name="appwidget.appwidget.provider"
                           android:resource="@xml/new_app_widget_info"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
